<!-- Modal -->

<script type="text/template" id="modal-tmp"> 

  <div class="modal fade" id="<%-id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel"><%- name %></h3>
        </div>
        <div class="modal-body">

          <h4><strong>Description</strong></h4>

          <div class="description-container">
          <textarea class="description-edit" cols="50" rows="3"><%- description %></textarea>

          <p class="task-description"><%- description %></p>

          </div>

          <hr>
          <h4><strong>Comments</strong></h4>
          <div class="comments-container">
            <p>There are not comments yet</p>
          </div>
          <p><strong>Add a Comment</strong></p>


          <textarea id="new-comment" class="form-control" placeholder="Add a comment"></textarea>
          <button class="btn btn-success">add</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </script>



 





